* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.page-header h1  {
    background-color: #004175;
    color: white;
    border-color: #89DEEF;
    border-width: 0 0 5px 0;
    border-style: solid;
    padding: 1rem 2rem;
}

body {
    font-family: sans-serif;
    max-width: 100%;
}
img {
    width: 20rem;
    display: flex;
    flex-direction: row;
}

p {
    flex-direction: row
}
.dog-trait {
    background-color: #89DEEF;
    list-style: none;
    padding: 0.5rem 1rem 0.5rem 0;
    display: inline-block;

}
ul{  
    width: unset;
    margin: 0 auto;
    
}
.all-dogs {
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
    size: width;

}
footer {
    display: inline-flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    
    
}